
@font-face{
    font-family: arsenica trial;
    src: url(fuentes/ArsenicaTrial-Regular.ttf);
}
@keyframes beat{
	to { transform: scale(1.2); }
}

.nav-link.active {
    animation: beat .3s;
	transform-origin: center;
    animation-delay: 1s;
    mask-repeat: 4;
}
.header__contenedor1{
    max-width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navbar{
   width: 100%;
   background: rgba(255, 255, 255, 0.692); 
   position: fixed;
   z-index: 9999;
}
.background__portfolio{
    background-image: url(../img/1x/img-portfolio\ respns.png);
    width: 100%;
    height: 500px;
    padding-top: 0rem;
    background-attachment: fixed;
	background-position: top;
}
.frase-contenedor h3{
    padding: 22rem 1rem;
    padding-right: 25rem;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.background__contenedor{
   background-image: url(../img/fondo-inicio.png);
    width: 100%;
    height: 800px;
    padding-top: 0rem;
    background-attachment: fixed;
	background-position: center;
}
.button{
    font-weight: normal;
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    padding: 1rem 1rem;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    
}
.main__button{
    padding-top: 33rem;
}   
.navbar-nav{
    color: rgb(0, 0, 0);
    font-size: 0.9rem;
    font-family: arsenica trial;
}
.navbar-nav :hover{
    color: rgb(223, 223, 197);    
}
.info{
    font-size: 1rem;
}
.card{
    width: 20rem; 
    margin-top: 12rem; 
    margin-bottom: 12rem; 
    background-color: #fffbee;
}

.main__textoprincipal h1{
    text-align: center;
    font-size: 2.18rem;
    padding-bottom: 4.37rem;
    padding-top: 3.75rem;
    margin: 50px;
    font-family: arsenica trial;
    font-weight: normal;
}
.main__textoprincipal .main__parrafo1{
    text-align: center;
    font-size: 1.25rem;
    letter-spacing: 0.3rem;
    padding-bottom: 5rem;
    padding-top: 1.87rem;
    font-weight: normal;
    font-family: arsenica trial;
}
hr{
    width: 20%;
    height: 3px;
    color: black;
    margin: auto;
}
.fondocontacto p img{
    width: 100%;
    height: 791px;
    left: 0px;
    padding-top: 0px;
}
.nosotras__fondo { 
    background-image: url(../img/nosotras.png);
    width: 100%;
    height: 1100px;
    background-repeat: no-repeat;
    padding-top: 0rem;
}
.nosotras__fondo p{
   display: inline-block;
    background-color: rgba(255, 255, 255, 0.733); 
    margin-left: 15%;
    text-align: center; 
    padding: 3rem 3rem;
    margin-top: 50%;
    margin-right: 30%;
} 
p strong{
    font-size: 2.5rem;
    font-weight: normal;
}
p{
    color: rgb(83, 83, 83);
    font-size: 1.1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
}
.contacto{
    background-image: url(../img/public\ logo\ 2.png);
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1400px;
}
.contacto__mero{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contactodiv {
    --bs-gutter-x: 10rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: nowrap;
    padding-top: 2.5rem;
}
.contacto__formulario{
    padding-bottom: 5rem;
    padding-top: 4rem;
    margin-top: 100px;
    margin-bottom: 100px;
}
.contacto__formulario{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}
.contacto__titulo{
    font-size: 2.2rem;
    text-align: center;
    font-family: arsenica trial;
}
.enviar{
    background-color: #eee8de;
    width: 100%;
    margin-top: 5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    font-size: medium;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.2)
}
#name{
    width: 400px;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 0.753);
    height: 30px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
}
#email{
    width: 400px;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 0.753);
    height: 30px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
}
#phone{
    width: 400px;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 0.753);
    height: 30px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
}
#location{
    width: 400px;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 0.753);
    height: 30px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
}
#emprendimiento{
    width: 400px;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 0.753);
    height: 30px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
}
#otro{
    width: 100%;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 0.753);
    height: 60px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
}
.main__trabajos{
    background-color: white;
    width: 100%;
    background-position: center;
    background-attachment: fixed;
    padding-top: 40rem;
}
.ame-img img{
    width: 400px;
    height: 400px;   
}
.trabajo__ame h1{
    font-size: 1.1rem;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.tarjeta-img img{
    width: 400px;
    height: 400px; 
}
.trabajo__tarjeta h2{
    font-size: 1.1rem;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.etiquetas-img img{
    width: 400px;
    height: 400px;  
}
.trabajo__etiquetas h3{
    font-size: 1.1rem;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.main__trabajos{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 20rem;
    padding-bottom: 20rem;
}

.texto__servicios{
    display: flex;
    padding-top: 10rem;
    margin-right: 20px;
}
.linea__texto2{
    width: 100px;
    height: 2px;
    margin-top: 30px;
    background: black;
    margin-left: 950px;
}
.servicios__introduccion h1{
    font-family: arsenica trial;
    font-weight: normal;
    font-size: 3rem;
    text-align: center;
    padding-top: 15rem;
}
.servicios__introduccion p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    font-size: 1.2rem;
    text-align: center;
    margin: 2rem;
    margin-left: 48rem;
    margin-right: 5rem;
}
.frase{
    margin: auto;
    width: 100%;
    background-color: rgb(250, 250, 236);
    grid-column: span 3;
    height: 300px
}
.frase__servicios p{
    text-align: center;
    font-family: arsenica trial;
    font-weight: normal;
    font-size: 2rem;
    padding-top: 4.5rem;
    letter-spacing: 3px;
    width: 100%;
    padding-left: 0px;
}
.linea__frase{
    width: 100px;
    height: 2px;
    background: black;
    margin-left: 650px;
}
.branding{
    margin-bottom: 0rem;
}
.branding__explicacion p{
    font-size: 1rem;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    margin-left: 2rem;
    padding-top: 1rem;
    margin-right: 50rem;
}
.branding__explicacion h2{
    font-family: arsenica trial;
    font-weight: bold;
    font-size: 2rem;
    padding-left: 2rem;
    padding-top: 4rem;
}
.redes{
    background-color: rgb(250, 250, 236) ;
    width: 100%;
    margin-bottom: 0rem;
}
.redes__explicacion p{
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    padding-top: 2rem;
    margin-left: 45rem;
    margin-right: 3rem;
}
.redes__explicacion h3{
    font-family: arsenica trial;
    font-weight: bold;
    font-size: 2rem;
    padding-top: 2rem;
    margin-left: 45rem;
}
.redes__explicacion img{
    width: 50%;
}



@media screen and (max-width: 1024px) {
    .contenedor1{
        max-width: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    } 
    .background__contenedor{
        background-image: url(../img/fondo-inicio.png);
         width: 100%;
         height: 800px;
         padding-top: 0rem;
         background-attachment: fixed;
         background-position: center;
         background-repeat: no-repeat;
    }
    .linea__frase{
        margin-left: 450px;
    }
    .linea__texto2{
        margin-left: 720px;
    }
    .redes__explicacion h3 {
         margin-left: 33rem;
    }
    .redes__explicacion p{
        padding-top: 2rem;
        margin-left: 35rem;
    }
    .branding__explicacion p{
        margin-right: 0rem;
    }
    .servicios__introduccion p{
        margin-left: 38rem;
        margin-right: 5rem;
    }
}
    
@media screen and (max-width: 768px) {
    .col-md-6 {
        flex: 0 0 auto;
        width: 47%;
    }
    .contenedor1{
        max-width: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    } 
    .navbar{
        width: 100%;
       background: rgba(255, 255, 255, 0.692); 
       position: fixed;
    }
    .header{
       width: 100%; 
       height: 100px;    
       position: fixed;
       z-index: 9999;
    }
    .container.portfolio{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .card{
        width: 20rem;
        margin-top: 12rem;
        margin-bottom: 2rem;
    }
    .contenedor1{
        max-width: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    .servicios__introduccion h1 {
        padding-top: 8rem;
        font-size: 2rem;
    }
    .servicios__introduccion p{
        margin: 1rem;
        font-size: 1rem;
    }
    .linea__frase{
        margin-left: 350px;
    }
    .linea__texto2{
         margin-left: 520px;
    }
    .branding__explicacion h2{
        padding-left: 2rem;
        padding-top: 3rem;
    }
    .branding__explicacion p{
        font-size: 1.2rem;
        margin-right: 0rem;
    }
    .frase__servicios{
        font-size: 1.8rem;
    }
    .redes__explicacion img{
        width: 50%;
    }
    .redes__explicacion p {
        padding-top: 1rem;
        margin-left: 27rem;
        font-size: 1.2rem;
    }
    .redes__explicacion h3 {
        margin-left: 27rem;
    } 
    .row>* {
        padding-right: calc(var(--bs-gutter-x) * .0);
    }
    #name{
        width: 250px;
    }
    #email{
        width: 250px;
    }
    #phone{
        width: 250px;
    }
    #location{
        width: 250px;
    }
    #emprendimiento{
        width: 250px;
    }
    #otro{
        width: 100%;
        height: 50px;
    }
}
    
@media screen and (max-width: 425px) {
   
  .contenedor1{
    overflow: hidden;
}
.navbar{
    width: 100%;
    background: rgba(255, 255, 255, 0.692); 
    position: fixed;
 }
.header{   
    position: fixed;
    z-index: 9999;
}

.text-center{
    font-size: 0.8rem;
}
.col-md-6 {
    flex: 0 0 auto;
    width: 40%;
}
.info{
    font-size: 0.8rem;
}
.card{
    width: 23rem;
    margin-top: 12rem;
    margin-bottom: 2rem;
}
.container.portfolio{
    flex-direction: column;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.frase-contenedor h3 {
    padding: 22rem 1rem;
}
.footer .row{
    display: flex;
    flex-wrap: wrap;
}
.row>* {
    flex-shrink: 0;
    margin-top: var(--bs-gutter-y);
    width: 40%;
}
.my-4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
*, ::after, ::before {
    box-sizing: content-box;
}
.gridpagina{
    margin-left: 70px;
}
.background__contenedor{
 background-image: url(../img/Recurso\ 6.png);
  width: 100%;
  height: 680px;
  padding-top: 0rem;
  background-attachment: fixed;
  background-position: center;
  overflow: hidden;
  background-repeat: no-repeat;
}
.main__textoprincipal h1 {
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 2.37rem;
    padding-top: 2.75rem;
    margin: 57px;
    font-family: arsenica trial;
    font-weight: normal;
}
.main__textoprincipal .main__líneatexto {
    width: 150px;
    height: 1px;
    text-align: center;
    margin-top: 52px;
    background: black;
}
.main__button {
    padding-top: 35rem;
}
 p strong {
    font-size: 2.2rem;
    font-weight: normal;
}
.nosotras__fondo p {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    margin-left: 10%;
    align-self: center;
    display: flexbox;
    padding: 1rem 1rem;
    margin-top: 110%;
    margin-right: 10%;
    text-align: center;
}
.nosotras__fondo {
    background-image: url(../img/nosotras\ mobile.png);
    width: 100%;
    height: 950px;
    background-repeat: no-repeat;
    padding-top: 0rem;
}
.main__trabajos {
    display: flex;
    padding-top: 10rem;
    justify-content: space-around;
    flex-direction: column-reverse;
    align-items: center;
}
 #name{
        width: 230px;
    }
 #email{
        width: 230px;
    }
 #phone{
        width: 230px;
    }
 #location{
        width: 230px;
    }
 #emprendimiento{
        width: 230px;
    }
 #otro{
        width: 100%;
        height: 50px;
    }
 .row>* {
        margin-right: calc(-.0 * var(--bs-gutter-x));
    }
 .contacto__mero{
        display: flex;
        align-items: left;
        flex-direction: column;
        justify-content: center;
    }
 .contactodiv {
        --bs-gutter-x: 10rem;
        --bs-gutter-y: 0;
        display: flex;
        padding-top: 2.5rem;
        flex-wrap: wrap;
    }
    .enviar{
        width: 60%;
        margin-top: 5rem;
        margin-left: 5rem;
    }

    .contacto__servicios{
        margin-top: 2rem;
    }
    .contacto__servicios2{
        margin-top: 2rem;
    }  
    .holamero{
        width: 90%;
 }
 .servicios__introduccion h1{
    padding-top: 2rem;
 }
 .linea__texto2 {
    margin-left: 160px;
}
.frase__servicios p{
    font-size: 1.8rem;
    padding-top: 2.5rem;
    letter-spacing: 2.2px;
}
.linea__frase {
    margin-left: 153px;
}
.branding {
    width: 100%;
}
.redes__explicacion img{
    width: 100%;
}
.redes__explicacion h3 {
    margin-left: 2rem;
}
.redes__explicacion p {
    margin-left: 2rem;
}
}