.contacto{
    background-image: url("../img/public\ logo\ 2.png");
    width: $width;
    background-repeat: $repeat;
    background-attachment: fixed;
    background-size: 1400px;
    &__mero{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    & .enviar{
        font:{
            family: $btn-font-family;
            size: medium;
            }
        background-color: #eee8de;
        width: $width;
        margin-top: 5rem;
        box-shadow: $box-shadow;
    }
    &div{
        --bs-gutter-x: 10rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: nowrap;
        padding-top: 2.5rem;
    }
    & #name, #email, #phone, #location, #emprendimiento{
        width: 400px;
        border-color: transparent;
        background-color: $background-color;
        height: 30px;
        box-shadow: $box-shadow;
    }
    & #otro{
        width: $width;
        border-color: transparent;
        background-color: $background-color;
        height: 60px;
        box-shadow: $box-shadow;
    }
    &__titulo{
        font:{
            family: arsenica trial;
            size: 2.2rem;
            }
        text-align: center;
    }
    &__formulario{
        font:{
         family: $btn-font-family;
         }
         padding-bottom: 5rem;
         padding-top: 4rem;
         margin-top: 100px;
         margin-bottom: 100px;
     }
}
